.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px 16px;
}

.details dt {
  font-weight: 600;
  color: var(--color-text-muted-soft);
}

.details dd {
  margin: 0;
}
